/* Theme CSS */
:root{
--font-family : "Open sans", sans-serif;
--primary-color : #8e44ad;
--dark-color: #95a5a6;
--danger: #ee5253;
--background-light: #ecf0f1;
--text-color:#444;
--text-color-light:#fff;
--box-shadow:rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; 
--border: 1px solid #eee; 
}

/* Reset  */
*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: var(--font-family);
    background-color: var(--background-light);
}

h1, p {
    margin: 0;
}

h1{
    margin-bottom: 1rem;
}

ul{
    padding: 0;
    list-style-type:none;
}
/*  Container */
.container{
    font-size: 1.6rem;
    min-height: 100vh;
    display: flex;
    flex-flow: column;

}

/* bouton */
.btn {
    background-color: white;
    font-weight: 700;
    color: var(--text-color);
    font-size: 1.6rem;
    border:0;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 3px;
    margin: 0 5px;
    box-shadow: var(--box-shadow);
}

.btn-primary{
    background-color: var(--primary-color);
    color: var(--text-color-light);
}

.btn-danger{
    background-color: var(--danger);
    color: var(--text-color-light);
}

.btn-smal{
    padding: 5px 10px;
    font-size: 1.4rem;
}

.low-opacity{
    opacity: 0.5;
}

/*  Text erreur  */
.text-danger{
    color: var(--danger);
    font-size: 1.2rem;
    font-weight: bold;
}

/* Header */
header{
    background-color: var(--primary-color);
    padding: 1.5rem;
    box-shadow: var(--box-shadow);
}
.logo{
    font-weight: bold;
    font-size: 2rem;
    color: var(--text-color-light);


}
/* Content  */
.content{
 flex: 1;
 display: flex;
 flex-flow: row;
 justify-content: center;
 align-items: center;
}

/* Footer */

footer{
    background-color: var(--dark-color);
    padding: 1.5rem;
    display: flex;
    flex-flow: row-reverse;
    color: var(--text-color-light);

}

